.img1 {
    flex: 0 0 30%; /* 图片宽度占30% */
    max-width: 20%; /* 确保图片不会超出30% */
    height: auto; /* 保持图片宽高比 */
    margin-right: 2em;
}

.img2 {
    width: 50%;
}

.img3 {
    width: 50%;
}

.img4 {
    width:80%;
}

.img5 {
    width:60%;
}

.img6 {
    width:60%;
}

.img7 {
    width:60%;
}

.img8 {
    width:60%;
}

.img9 {
    width:60%;
}

.img10 {
    width:80%;
}

.img11 {
    width:40%;
}

.img12 {
    width:40%;
}
