.timg1 {
    flex: 0 0 30%; /* 图片宽度占30% */
    max-width: 45%; /* 确保图片不会超出30% */
    height: auto; /* 保持图片宽高比 */
    margin-right: 2em;
}

.timg2 {
    width: 10%
}

.timg3 {
    width: 10%
}

.timg4 {
    width: 10%
}

.timg5 {
    width: 50%
}

.timg6 {
    width: 40%
}

.timg7 {
    width: 40%
}

.timg8 {
    width: 40%
}

.timg9 {
    width: 40%
}

.timg10 {
    width: 40%
}

.timg11 {
    width: 40%
}

.timg12 {
    width: 40%
}

.timg13 {
    width: 40%
}

.timg14 {
    width: 40%
}

.timg15 {
    width: 40%
}

.timg16 {
    width: 60%
}

.timg17 {
    width: 40%
}

.timg18 {
    width: 40%
}

.timg19 {
    width: 40%
}

.timg20 {
    width: 40%
}

.timg21 {
    width: 40%
}

.timg22 {
    width: 40%
}

.timg23 {
    width: 40%
}

.timg24 {
    width: 40%
}