.img1 {
    flex: 0 0 30%; /* 图片宽度占30% */
    max-width: 45%; /* 确保图片不会超出30% */
    height: auto; /* 保持图片宽高比 */
    margin-right: 2em;
}

.img2 {
    width: 10%
}

.img3 {
    width: 10%
}

.img4 {
    width: 10%
}

.img5 {
    width: 50%
}

.img6 {
    width: 40%
}

.img7 {
    width: 40%
}

.img8 {
    width: 40%
}

.img9 {
    width: 40%
}

.img10 {
    width: 40%
}

.img11 {
    width: 40%
}

.img12 {
    width: 40%
}

.img13 {
    width: 40%
}

.img14 {
    width: 40%
}

.img15 {
    width: 40%
}

.img16 {
    width: 60%
}

.img17 {
    width: 40%
}

.img18 {
    width: 40%
}

.img19 {
    width: 40%
}

.img20 {
    width: 40%
}

.img21 {
    width: 40%
}

.img22 {
    width: 40%
}

.img23 {
    width: 40%
}

.img24 {
    width: 40%
}