.world {
    max-width: 45%; /* 设置最大宽度 */
    margin: 0 auto; /* 居中对齐 */
}

.world p{
    text-align: left;
    line-height: 1.8em;
}

.world h2{
    text-align: left;
}

.world li{
    text-align: left;
}

.word-wrapper {
    background-color: bisque;
    padding: 1em 2em;
    border-radius: 20px;
}

.world a {
    text-decoration: none;
}

.world a:hover {
    text-decoration: underline;
}