.world-x {
    max-width: 45%; /* 设置最大宽度 */
    margin: 0 auto; /* 居中对齐 */
}

.world-x p{
    text-align: left;
    line-height: 1.8em;
}

.world-x h2{
    text-align: left;
}

.world-x li{
    text-align: left;
}

.word-wrapper {
    background-color: bisque;
    padding: 1em 2em;
    border-radius: 20px;
}

.world-x a {
    text-decoration: none;
    color: black;
}

.world-x a:hover {
    text-decoration: underline;
}