.about-us {
    display: block; /* 改为 block，确保它占满父容器宽度 */
    width: 100%;
}

.aboutus-intro {
    position: relative;
    display: flex;
    flex-direction: column; /* 如果有多个子元素，可以设置垂直排列 */
    background-color: bisque;
    padding: 4em;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.aboutus-intro p {
    text-align: left;
    line-height: 1.8em;
    font-weight:600;
    font-size: 1.1em;
}

.aboutus-intro h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}
