.Title {
    text-align: center;
    .rsis-container {
      border-radius: 20px !important;
      overflow: hidden;
    }
  }

.content-container {
  display: flex;
  justify-content: space-between; /* 水平居中对齐 */
  align-items: center; /* 垂直顶部对齐 */
  gap: 20px; /* 设置子元素之间的间距 */
  margin-top: 30px;
  margin-bottom: 30px;
}

.img-slider {
  margin-left: 300px;
  flex-grow: 1;
}

.picker {
  margin-right: 300px;
}

@media (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 子元素居中对齐 */
  }

  .img-slider {
    width: 100%;
    margin: 0 auto;
  }

  .picker {
    width: 80%; /* 或根据需要设置具体宽度 */
    margin: 20px auto !important;
  }
}