.world {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.outer-container {
    flex: 1;
    display: flex;
    justify-content: center;
}
.payment-success {
    margin: auto;
    text-align: center;
    width: 80%;
}

.confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.bookinginfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 让文字左对齐 */
}

.bookinginfo p {
    font-size: 1em;
    line-height: 0;
}