/* top nav bar */
.navbar-custom header {
    display: flex;
    flex-wrap: wrap; /* 允许子元素换行 */
    justify-content: flex-start; /* 左对齐子元素 */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    height: auto;
    padding: 20px 0; /* 添加内边距 */
    gap: 20px; /* 添加元素间距 */
}

/* Logo 样式 */
.logo-custom {
    display: flex;
    align-items: center;
    margin-left: 2em;
    cursor: pointer; /* 表明可点击 */
}

.logo-custom img {
    height: 4em;
    margin-right: 10px;
    border-radius: 50%;
}

.logo-custom span {
    font-size: 2em;
    font-weight: bold;
    color: #222;
}

/* 标题样式 */
.nav-h2-custom {
    margin: 0 auto; /* 自动外边距使其在可用空间居中 */
    text-align: center;
    flex-shrink: 0; /* 防止标题被压缩 */
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    .navbar-custom header {
        flex-direction: column; /* 垂直布局 */
        justify-content: center;
        padding-bottom: 20px;
        gap: 10px;
    }

    .logo-custom {
        margin: 10px 0; /* 移除左侧外边距 */
    }

    .logo-custom img {
        height: 3em;
    }

    .logo-custom span {
        font-size: 1.5em;
    }

    .nav-h2-custom {
        order: 1; /* 标题换到第二行 */
        width: 100%; /* 占据整行 */
        margin-top: 10px;
    }
}
