/* big enterance picture */
.big-enterance-card {
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-self: center;
    margin-bottom: 0px;
    max-height: 500px;
}

.big-enterance-card img {
    display: flex;
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute; /* 绝对定位文字 */
    bottom: 20px; /* 距离底部 20px */
    left: 20px; /* 距离左侧 20px */
    right: 20px; /* 距离右侧 20px */
    color: white; /* 文字颜色为白色 */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); /* 添加阴影，让文字更清晰 */
    font-family: Arial, sans-serif;
}

.text-overlay h2 {
    font-size: 3em;
    margin: 30px 0;
    font-weight: bold;
    margin-top: 0px;
}

.text-overlay p {
    font-size: 2.5em;
    margin: 70px 0;
}

/* 小屏幕（如手机）的样式 */
@media (max-width: 768px) {
    .text-overlay h2 {
        font-size: 1em;
        margin: 0;
        font-weight: bold;
        margin-top: 0px;
    }
    
    .text-overlay p {
        font-size: 0.8em;
        margin: 10px 0;
    }
    
}